*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
h1{
    color: black;
    text-align: center;
    padding: 20px;
}

.contenedor{
    width: 500px;
    height: 500px;
    border: solid 2px black;
    position: relative;
}
.cuadrado{
    width: 80px;
    height: 80px;
    background-color: blueviolet;
    position: relative;
    border-radius: 10px;
    border: solid 2px black;
    top: 210px;
    left: 210px;
    animation-name: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes colores{
    0%{background-color: royalblue;}
    25%{background-color: red;}
    50%{background-color: blue;}
    75%{background-color: green;}
    100%{background-color: yellow;}
}


.cuadrado-2{
    width: 85px;
    height: 85px;
    background-color: blueviolet;
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
    animation: 
      mover-borde 10s linear infinite,
      colores 5s infinite;
    
    
}

@keyframes mover-borde {
    
    0% {
        top: 0;
        left: 0;
    }
    
    
    25% {
        top: 0;
        left: calc(90% - 35px);
    }
    
    
    50% {
        top: calc(90% - 35px);
        left: calc(90% - 35px);
    }
    
    
    75% {
        top: calc(90% - 35px);
        left: 0;
    }
    
    
    100% {
        top: 0;
        left: 0;
    }
}


.cuadrado-3{
    width: 85px;
    height: 85px;
    position: absolute;
    border-radius: 50px 50px 10px 10px;
    border: solid 2px black;
    background-color: orange;
   
}